<!DOCTYPE html>

<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&amp;display=swap" rel="stylesheet"/>
<link href="styles.css" rel="stylesheet" type="text/css"/>
<link href="/static/styles.css" rel="stylesheet"/></head>
<body>
<div class="container">
<h1>디스코드 요약봇</h1>
<button onclick="location.href='/login'">로그인</button>
<p>계정이 없으신가요? <a href="/register">회원가입</a></p>
</div>
    
    <!-- Load jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Your script -->
<script type="text/javascript">
    setTimeout(function() {
        $('.flash').fadeOut('fast');
    }, 3000); // 3 seconds = 3000 milliseconds
</script>
</body>
</html>
