<!DOCTYPE html>

<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&amp;display=swap" rel="stylesheet"/>
<link href="styles.css" rel="stylesheet" type="text/css"/>
<link href="/static/styles.css" rel="stylesheet"/></head>
<body>
<div class="container">
<h1>로그인</h1>
<form action="/login" method="post">
<input name="username" placeholder="ID" type="text"/><br/>
<input name="password" placeholder="Password" type="password"/><br/>
<button type="submit">로그인</button>
</form>
</div>
    
    <!-- Load jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Your script -->
<script type="text/javascript">
    setTimeout(function() {
        $('.flash').fadeOut('fast');
    }, 3000); // 3 seconds = 3000 milliseconds
</script>
</body>
</html>
